body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 1000px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

button {
    background-color: #a4ff00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
}

.cart-container h3 {
    margin-top: 0;
}

.cart-item {
    margin-bottom: 10px;
}

.checkout-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #555;
}
.search-bar {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
}

.search-bar input {
  flex: 1;
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}
